includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    #checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    level: 7

    paths:
        - app
        - config
        - bootstrap
        - database/factories
        - routes

